*.bak
*.class
*.ear
*.jar
*.launch
*.log
*.pydevproject
*.swp
*.tmp
*.war
*~.nib
.buildpath
.classpath
.cproject
.externalToolBuilders/
.loadpath
.metadata
.project
.scala_dependencies
.settings/
bin/**
dist/*
lib_managed/
local.properties
project/boot/
project/plugins/project/
src_managed/
target/
tmp/**
tmp/**/*
